<a href="https://colab.research.google.com/github/gustavolenin/Estudos-em-Regressao-Linear/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

# Statsmodels

In [ ]:
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler

In [ ]:
y = 'median_house_value'
X = df.drop([y], axis=1)
scaler = StandardScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(X),columns=X.columns)
modelo = sm.OLS(df[y],X)
res = modelo.fit()
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:     median_house_value   R-squared (uncentered):                   0.901
Model:                            OLS   Adj. R-squared (uncentered):              0.901
Method:                 Least Squares   F-statistic:                          1.927e+04
Date:                Thu, 25 Aug 2022   Prob (F-statistic):                        0.00
Time:                        18:18:38   Log-Likelihood:                     -2.1492e+05
No. Observations:               17000   AIC:                                  4.298e+05
Df Residuals:                   16992   BIC:                                  4.299e+05
Df Model:                           8
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
longitude          -2242.3547    119.100    -18.828      0.000   -2475.802   -2008.907
latitude           -8474.2259    377.129    -22.470      0.000   -9213.438   -7735.013
housing_median_age  1786.1485     49.565     36.036      0.000    1688.995    1883.301
total_rooms          -15.3597      0.918    -16.723      0.000     -17.160     -13.559
total_bedrooms        79.9623      8.246      9.697      0.000      63.799      96.125
population           -39.9046      1.277    -31.238      0.000     -42.409     -37.401
households           133.1703      8.918     14.932      0.000     115.689     150.651
median_income       4.584e+04    381.200    120.249      0.000    4.51e+04    4.66e+04
==============================================================================
Omnibus:                     3565.084   Durbin-Watson:                   1.154
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12369.583
Skew:                           1.040   Prob(JB):                         0.00
Kurtosis:                       6.624   Cond. No.                     3.00e+03
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large,  3e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
modelo = sm.OLS(df[y],normalized_df)
res = modelo.fit()
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:     median_house_value   R-squared (uncentered):                   0.153
Model:                            OLS   Adj. R-squared (uncentered):              0.152
Method:                 Least Squares   F-statistic:                              383.4
Date:                Thu, 25 Aug 2022   Prob (F-statistic):                        0.00
Time:                        18:13:31   Log-Likelihood:                     -2.3314e+05
No. Observations:               17000   AIC:                                  4.663e+05
Df Residuals:                   16992   BIC:                                  4.664e+05
Df Model:                           8
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
longitude           -8.65e+04   4983.023    -17.359      0.000   -9.63e+04   -7.67e+04
latitude           -9.174e+04   5017.085    -18.286      0.000   -1.02e+05   -8.19e+04
housing_median_age  1.448e+04   1884.835      7.684      0.000    1.08e+04    1.82e+04
total_rooms        -1.826e+04   5919.843     -3.085      0.002   -2.99e+04   -6660.101
total_bedrooms      4.959e+04   1.02e+04      4.863      0.000    2.96e+04    6.96e+04
population         -4.418e+04   4284.323    -10.312      0.000   -5.26e+04   -3.58e+04
households          1.747e+04   1.02e+04      1.709      0.087   -2563.066    3.75e+04
median_income       7.729e+04   2211.150     34.955      0.000     7.3e+04    8.16e+04
==============================================================================
Omnibus:                     4032.682   Durbin-Watson:                   0.117
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            15559.395
Skew:                           1.141   Prob(JB):                         0.00
Kurtosis:                       7.094   Cond. No.                         16.6
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Scikit-learn

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,df[y],test_size=0.3,random_state=0)

In [ ]:
modelo = LinearRegression()
modelo.fit(Xtrain,ytrain);

In [ ]:
p = modelo.predict(Xtest)

In [ ]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(ytest,p))

69057.7158505047